.list-chat {
  display: flex;
  flex-direction: column;
}
.chat-item {
  position: relative;
  height: 40px;
  margin: 20px 0px 0px 10px;
}

.chat-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 5px 0px;
  border-radius: 4px;
  width: fit-content;
  padding: 7px 5px;
}
.chat-user {
  font-size: 0.75rem;
  position: absolute;
  top: -15px;
}
