.message-box {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.message-box-input {
  padding: 10px 10px;
  width: 85%;
}

.message-box-submit {
  cursor: pointer;
  width: 10%;
  border: 1px solid grey;
  border-left: none;
  padding: 10px 5px;
  border-radius: 2px;
}

.message-box-submit:hover {
  box-shadow: 0px 0px 8px grey;
}

.message-box-input:hover,
.message-box-input:focus {
  box-shadow: 0px 0px 8px grey;
  inset: none;
}
