.header-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 80px;
  align-items: center;
  background-image: url("../../assets/39.jpg");
  background-size: contain;
  background-repeat: repeat;
}
.header-logo {
  position: relative;
  display: flex;
  align-items: end;
}

.header-logo-text {
  position: relative;
  font-size: 3rem;
  bottom: -5px;
  left: 0px;
  font-family: "Anton", sans-serif;
}
.header-search-bar {
  display: flex;
  width: 40%;
  position: relative;
}
.header-search-bar > input {
  height: 40px;
  width: 100%;
  background: rgba(254, 254, 254, 0.65);
  border: 1px solid white;
  padding-left: 10px;
  border-radius: 5px;
}

.header-search-bar > input::placeholder {
  color: black;
  font-weight: 500;
}
.header-search-bar > i {
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}
.header-search-bar > i:hover {
  cursor: pointer;
}
.header-user {
  display: flex;
}
.header-user span {
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgba(254, 254, 254, 0.65);
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.header-user span:hover {
  background-color: rgba(254, 254, 254, 0.95);
}
.menu-bar {
  position: relative;
}
.menu-bar > ul {
  display: none;
}
.menu-bar:hover > ul {
  display: block;
  position: absolute;
  bottom: -calc(1rem + 20px);
  right: 0px;
  z-index: 999;
}
.menu-bar:hover > ul > li {
  list-style: none;
  display: block;
  width: 200px;
}

.menu-bar:hover > ul > li > a > span {
  width: 200px;
}
